body {
  background: #000000;
}

#circle__wrapper {
	position: absolute;
	fill: none;
	opacity: 0.1;
	transform: translate(-50%, -50%) rotate(-90deg);
	overflow: visible;
	left: 50%;
	top: 50%;
	height: 100%;
	z-index: 0;
}

#circle__wrapper circle {
	stroke-dasharray: 462 462;
	stroke-dashoffset: 462;
}
